<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tien.myapplication">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".add" />
        <activity android:name=".addfirst" />
        <activity android:name=".record" />
        <activity android:name=".daily" />
        <activity android:name=".dailyanimate" />
        <activity android:name=".dailyaward" />
        <activity android:name=".Mine" />
        <activity android:name=".TaskList" />
        <activity android:name=".acihevegoalanimation" />
        <activity android:name=".achievegoalaward" />
        <activity android:name=".AwardList"></activity>
    </application>

</manifest>